.administrationNav {
  height: 60px;
  width: 920px;
  margin-bottom: 10px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: rgb(95, 95, 95);
}

.wsNav {
  font-size: large;
  margin-left: 30px;
  cursor: pointer;
  transition: color 0.12s;
}

.wsNav:hover {
  color: black;
}

.orgNav {
  font-size: large;
  margin-left: 70px;
  cursor: pointer;
}

.orgNav:hover {
  color: black;
}

.lcNav {
  font-size: large;
  margin-left: 70px;
  cursor: pointer;
}

.lcNav:hover {
  color: black;
}

.appNav {
  font-size: large;
  margin-left: 70px;
  cursor: pointer;
}

.appNav:hover {
  color: black;
}

.buttonNav {
  height: 40px;
  width: 100px;
  margin-left: 260px;
  border: solid 0px;
  border-radius: 4px;
  background-color: rgb(211, 172, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.12s;
  transition: color 0.12s;
}

.buttonNav:hover {
  background-color: rgb(253, 244, 203);
  color: rgb(255, 187, 0);
}

.administrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
