nav {
  height: 60px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  align-items: center;
}

.navLink {
  color: rgb(95, 95, 95);
  font-size: large;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.12s;
  transition: color 0.12s;
  margin-left: 10px;
}

.navLink:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
}

.logoNav {
  height: 50px;
  margin-right: 20px;
  margin-left: 30px;
}

.logoFooter {
  height: 60px;
}

.line {
  margin-top: 5px;
  height: 1px;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

footer {
  height: 70px;
  color: rgb(95, 95, 95);
}

.footerUpper {
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerUnder {
  height: 30px;
  color: rgb(211, 172, 0);
  font-size: small;
  background-color: rgba(0, 127, 171, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 25px;
}

.facebookIcon {
  color: rgba(0, 127, 171, 255);
  height: 28px;
  width: 28px;
  cursor: pointer;
  transition: color 0.12s;
}

.facebookIcon:hover {
  color: rgb(0, 110, 255);
}

.instagramIcon {
  color: rgba(0, 127, 171, 255);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color 0.12s;
}

.instagramIcon:hover {
  color: rgb(197, 66, 14);
}

.linkedinIcon {
  color: rgba(0, 127, 171, 255);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color 0.12s;
}

.linkedinIcon:hover {
  color: rgb(0, 83, 190);
}

.youtubeIcon {
  color: rgba(0, 127, 171, 255);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color 0.12s;
}

.youtubeIcon:hover {
  color: red;
}

.footerInfo {
  width: 300px;
  height: 60px;
  font-size: small;
  text-wrap: nowrap;
}

.footerInfo p {
  margin: 2px;
}

.footerInfo a {
  color: rgb(95, 95, 95);
  text-decoration: none;
}
